.img-circle{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
 
}
.image{
    position: relative;
}

.cover-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
   
    right: 35%;
    top:63%
}

.cancel-icon
{
    z-index: 9999;
    position: absolute;
    bottom: 140px;
    right: 140px;
}

.field .hideinputfile input[type="file"]
{
    display: none;
}